.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include section;

    &__content {
        text-align: center;

        &-hide {
            display: none;
        }

        &-dots {
            display: inline;

            &-unactive {
                display: none;
            }
        }

        &-show {
            display: inline;
        }
    }

    &__image {
        display: none;
    }

    &__btn {
        @include button;
        color: $dark-color;
        border: 1px solid $dark-color;
    }

    @include for-laptop-up {
        flex-direction: row;
        justify-content: space-between;
        padding: 7rem 1.75rem 0 1.75rem;
        overflow: hidden;

        &__content {
            width: 40%;
            text-align: start;

            &-hide {
                display: inline;
            }
        }

        &__image {
            display: block;
            width: 50%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__btn {
            display: none;
        }
    }
}